# Node dependencies
node_modules/

# Python cache and compiled files
__pycache__/
*.pyc

# Environment & credentials
.env

# Vector DB
backend/chroma_db/

# System files
.DS_Store

# Glossary
backend/glossary.json